.*
!.gitignore
!.github
!.editorconfig
!.tidyrc.json
!.eslintrc.json
!.gitattributes

output
generated-docs
bower_components

UnicodeData.txt
CaseFolding.txt
SpecialCasing.txt

node_modules
package-lock.json
*.lock
